---
import Main from '@layouts/MainLayout.astro';
const pathHome =  './';

const folderPath1 = "../../toolbox";
const folderPath2 = "../../rankings";
const folderPath3 = "../../ratings";
---

<!--newPath -->

<Main  folderPath1= {folderPath1} folderPath2 = {folderPath2} folderPath3 = {folderPath3} pathHome = {pathHome}>
blah blah blah 

</Main>

<style>
    .title{
        font-style: var(--primaryFont);
        font-weight: 400;
	    font-size:var(--text-heading);			
    }

    ul{
        margin:0px 20px;
    }

    li{
        margin-bottom:5px;
    }
    a{
        color:black;
    }
    .color{
        color:rgb(28, 121, 122);
        font-weight: bold;
    }
</style>